#splash {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.temp-fullscreen-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transition: transform 1s cubic-bezier(.77,0,.18,1);
}

.splash-hide {
    transform: translateY(-100vh);
}

@media (max-width: 600px) {
    .temp-fullscreen-img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
    #splash {
        padding: 0;
    }
}